:root {
  /* Colors */

  --clr-primary-blue: hsl(246, 80%, 60%);
  --clr-primary-light-orange: hsl(15, 100%, 70%);
  --clr-primary-soft-blue: hsl(195, 74%, 62%);
  --clr-primary-light-red: hsl(348, 100%, 68%);
  --clr-primary-lime-green: hsl(145, 58%, 55%);
  --clr-primary-violet: hsl(264, 64%, 52%);
  --clr-primary-soft-orange: hsl(43, 84%, 65%);

  --clr-neutral-very-dark-blue: hsl(226, 43%, 10%);
  --clr-neutral-dark-blue: hsl(235, 46%, 20%);
  --clr-neutral-desaturated-blue: hsl(235, 45%, 61%);
  --clr-neutral-pale-blue: hsl(236, 100%, 87%);

  /* Font Family */
  --font-family-primary: "Rubik", sans-serif;

  /* Font Weight */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;

  /* Font Size */
  --font-size-200: 0.75rem;
  --font-size-300: 0.875rem;
  --font-size-400: 1rem;
  --font-size-500: 1.125rem;
  --font-size-600: 1.25rem;
  --font-size-700: 1.5rem;
  --font-size-800: 1.875rem;
  --font-size-900: 2.25rem;
  --font-size-1000: 2.5rem;
  --font-size-1100: 2.75rem;
  --font-size-1200: 3rem;
}

/* Reset */
/*  https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* General styling */

body {
  background-color: var(--clr-neutral-very-dark-blue);
  color: var(--clr-neutral-pale-blue);
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-500);
}

main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  padding: 2rem 0;
}

.profile-section {
  background-color: var(--clr-neutral-dark-blue);
  width: 350px;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.user {
  background-color: var(--clr-primary-blue);
  display: flex;
  align-items: center;
  border-radius: 0 0 1rem 1rem;
  gap: 1rem;
  padding: 1rem;
}

.avatar {
  border-radius: 100rem;
  border: 0.2rem solid white;
  height: 5rem;
  width: 5rem;
}

.period {
  display: flex;
}

button {
  background-color: var(--clr-neutral-dark-blue);
  color: var(--clr-neutral-pale-blue);
  width: 33%;
  border: none;
  padding: 1rem 0.5rem;
  cursor: pointer;
}

button:hover,
button:focus-visible {
  color: white;
}

.card-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  width: 350px;
}

.card {
  background-color: white;
  width: 350px;
  height: 150px;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: end;
}

.card-img {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0%, -10%);
}

.card-info {
  background-color: var(--clr-neutral-dark-blue);
  height: 110px;
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-around;
}

.card-info:hover {
  background-color: hsl(235, 46%, 30%);
}

h1,
h2 {
  font-size: var(--font-size-500);
  color: white;
}

.hours {
  font-size: var(--font-size-700);
  color: white;
}

.ellipsis {
  width: 1.5rem;
  height: 0.5rem;
}

.last-week {
  font-size: var(--font-size-200);
}

.justify-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.work {
  background-color: var(--clr-primary-light-orange);
}
.play {
  background-color: var(--clr-primary-soft-blue);
}
.study {
  background-color: var(--clr-primary-light-red);
}
.exercise {
  background-color: var(--clr-primary-lime-green);
}
.social {
  background-color: var(--clr-primary-violet);
}
.self-care {
  background-color: var(--clr-primary-soft-orange);
}

/* Media queries */
@media (min-width: 50em) {
  main {
    gap: var(--font-size-400);
    padding: 0;
    height: 100vh;
    height: 100dvh;
    justify-content: center;
  }
  .card-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    width: 50rem;
    height: 33rem;
  }
  .card {
    width: 16rem;
    height: 16rem;
  }

  .profile-section {
    width: 50rem;
    height: 16rem;
    flex-direction: row;
  }
  .card-info {
    height: 12rem;
  }

  .user {
    flex-direction: column;
    height: 100%;
    width: 50%;
    align-items: start;
    padding: 2rem;
    border-radius: 0 1rem 1rem 1rem;
  }

  .avatar {
    border-radius: 100rem;
    border: 0.2rem solid white;
    height: 5rem;
    width: 5rem;
    margin-bottom: 2rem;
  }

  .period {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    text-align: left;
    padding: 0 10%;
  }
  button {
    text-align: left;
  }

  h1 {
    font-size: var(--font-size-900);
  }
}

@media (min-width: 80em) {
  main {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 100vh;
    height: 100dvh;
  }
  .card-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    width: 50rem;
    height: 33rem;
  }
  .card {
    width: 16rem;
    height: 16rem;
  }

  .profile-section {
    width: 16rem;
    height: 33rem;
    flex-direction: column;
  }
  .card-info {
    height: 12rem;
  }

  .user {
    flex-direction: column;
    align-items: start;
    padding: 2rem;
    height: 65%;
    width: 100%;
  }

  .avatar {
    border-radius: 100rem;
    border: 0.2rem solid white;
    height: 5rem;
    width: 5rem;
    margin-bottom: 2rem;
  }

  .period {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    text-align: left;
    padding: 0 10%;
  }
  button {
    text-align: left;
  }

  h1 {
    font-size: var(--font-size-900);
  }
}
